[submodule "Implementation/Components/Common"]
	path = Implementation/Components/Common
	url = https://github.com/Eonil/Common

[submodule "Aliens"]
	path = Implementation/Components/Aliens
	url = https://github.com/Eonil/Aliens
